@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<style>
    body{
        background-image: url('https://as2.ftcdn.net/v2/jpg/05/01/21/05/1000_F_501210570_VWHtl8lVnmhabJmHEda8RQtk6Dn8X9ck.jpg');
        background-size :cover;
        }

    </style>

<h1>@ViewData["Title"]</h1>
<br />

<p>Our Website Does Not Have A Privacy Policy, you are welcome to use our content and learn as you will.</p>
    